src/main/resources/wsdl/mobile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://soap.service.mobile.academy.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.service.mobile.academy.com" name="SubscriberWSImplService">
    <!--xsd types-->
    <wsdl:types>
        <xs:schema targetNamespace="http://soap.service.mobile.academy.com">
            <xs:element name="addSubscriberRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subscriber" type="tns:subscriber" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscriberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriberRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subscriber" type="tns:subscriber" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscribersRequest">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscribersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subscribers" type="tns:subscriber" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeSubscriberRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeSubscriberResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscriber" type="tns:subscriber"/>
            <xs:element name="updateSubscriberRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                        <xs:element name="subscriber" type="tns:subscriber" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSubscriberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subscriber" type="tns:subscriber" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="subscriber">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="lastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="gender" type="tns:gender" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="gender">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="m"/>
                    <xs:enumeration value="f"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>

    <!--Define input and output parameters -->
    <wsdl:message name="removeSubscriberRequest">
        <wsdl:part name="parameters" element="tns:removeSubscriberRequest"/>
    </wsdl:message>
    <wsdl:message name="removeSubscriberResponse">
        <wsdl:part name="parameters" element="tns:removeSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscribersRequest">
        <wsdl:part name="parameters" element="tns:getSubscribersRequest"/>
    </wsdl:message>
    <wsdl:message name="getSubscribersResponse">
        <wsdl:part name="parameters" element="tns:getSubscribersResponse"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberRequest">
        <wsdl:part name="parameters" element="tns:getSubscriberRequest"/>
    </wsdl:message>
    <wsdl:message name="getSubscriberResponse">
        <wsdl:part name="parameters" element="tns:getSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="addSubscriberRequest">
        <wsdl:part name="parameters" element="tns:addSubscriberRequest"/>
    </wsdl:message>
    <wsdl:message name="addSubscriberResponse">
        <wsdl:part name="parameters" element="tns:addSubscriberResponse"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberRequest">
        <wsdl:part name="parameters" element="tns:updateSubscriberRequest"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberResponse">
        <wsdl:part name="parameters" element="tns:updateSubscriberResponse"/>
    </wsdl:message>

    <!--Define port definition -->
    <wsdl:portType name="SubscriberWSImpl">
        <wsdl:operation name="removeSubscriber">
            <wsdl:input  message="tns:removeSubscriberRequest"/>
            <wsdl:output message="tns:removeSubscriberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscribers">
            <wsdl:input  message="tns:getSubscribersRequest"/>
            <wsdl:output message="tns:getSubscribersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <wsdl:input  message="tns:getSubscriberRequest"/>
            <wsdl:output message="tns:getSubscriberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <wsdl:input message="tns:addSubscriberRequest"/>
            <wsdl:output message="tns:addSubscriberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <wsdl:input message="tns:updateSubscriberRequest"/>
            <wsdl:output message="tns:updateSubscriberResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and service -->
    <wsdl:binding name="SubscriberWSImplPortBinding" type="tns:SubscriberWSImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeSubscriber">
            <soap:operation soapAction="removeSubscriber"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscribers">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <soap:operation soapAction="getSubscriber"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--Define service -->
    <service name="SubscriberWSImplService">
        <port name="SubscriberWSImplPort" binding="tns:SubscriberWSImplPortBinding">
            <soap:address location="http://localhost:8081/soap"/>
        </port>
    </service>
</wsdl:definitions>